In [10]:
! pip install sqlalchemy
! pip install psycopg2-binary
! pip install pandas

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
%load_ext sql
from sqlalchemy import create_engine
import pandas as pd

In [3]:
%sql postgresql://postgres:@localhost:5430/mafia_casino_db
engine = create_engine("postgresql://postgres:@localhost:5430/mafia_casino_db")

In [4]:
%%sql
SELECT * FROM casino_account

 * postgresql://postgres:***@localhost:5430/mafia_casino_db
1 rows affected.

[(1, 200)]

In [5]:
casino_df = pd.read_sql_table("casino_account",con=engine,columns=['user_id','balance'])
details_df = pd.read_sql_table("details",con=engine,columns=['phone','email','address'])
user_login_df = pd.read_sql_table("user_login",con=engine,columns=['username','password'])

df = pd.concat([casino_df,details_df,user_login_df], axis = 1)

df

,user_id,balance,user_id,phone,email,address,user_id,username,password
0,1,200,1,0872321414,mpho@gmail.com,56 mooi,1,Mpho,fhgfjk2