In [6]:
! pip install sqlalchemy
! pip install psycopg2-binary
! pip install pandas

Requirement already satisfied: sqlalchemy in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: psycopg2-binary in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (2.9.5)
Requirement already satisfied: pandas in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\john tlaletso diale\anaconda3_2021\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [22]:
from sqlalchemy import create_engine
import pandas as pd
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql postgresql://postgres:postgres@localhost:5430/mafia_casino_db
engine = create_engine("postgresql://postgres:postgres@localhost:5430/mafia_casino_db")

In [30]:
%%sql
SELECT * FROM casino_account

 * postgresql://postgres:***@localhost:5430/mafia_casino_db
2 rows affected.

[(2, 100, 2), (1, 900, 1)]

In [32]:
casino_df = pd.read_sql_table("casino_account",con=engine,columns=['user_id','balance','account_number'])
details_df = pd.read_sql_table("details",con=engine,columns=['phone','email','address'])
user_login_df = pd.read_sql_table("user_login",con=engine,columns=['username','password'])

df = pd.concat([casino_df,details_df,user_login_df], axis = 1)

df

,user_id,balance,account_number,phone,email,address,username,password
0,2,100,2,0872321414,mpho@gmail.com,56 mooi,Mpho,fhgfjk2
1,1,900,1,0765432367,neo@gmail.com,75 pine,Neo,sjajhdfj

In [33]:
casino_df['balance']

0    100
1    900
Name: balance, dtype: int64